@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// ===Font===
$main-font: "Lato", sans-serif;
$light-weight: 400;
$regular-weight: 700;

// Colors
$dark: #000;
$white: #fff;
$bs_green: #5cb85c;
$bs_red: #dc3545;
$bs_orange: #ffc107;
$bs_blue: #007bff;